@page
@model MusicPlaylist.Pages.XML.DeleteModel
@using System.Data
@using Code.XML
@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Verwijder een muzieknummber";

    //XML
    SongMethods xmlsongMethods = new SongMethods();
    string xmlFile = @"\Data\Playlist.xml";
    DataSet xmlDataSet = xmlsongMethods.GetAllSongs(xmlFile);

    if (HttpMethods.IsPost(Request.Method))
    {
        if (Request.Form["inputOptie"] == "ja")
        {
            string id = Request.Query["id"];
            xmlsongMethods.DeleteSong(id, xmlFile);
        }

        Response.Redirect("/XML/Index");
    }
}


<form action="" method="post">
    <p>Are you sure you want to permanitle delete this song?</p>
    <br />
    <input type="radio" id="yes" name="inputOptie" value="DEL" checked>
    <label for="yes">Yes</label><br>
    <br />
    <input type="radio" id="no" name="inputOptie" value="nDEL">
    <label for="no">No</label><br>
   <input type="submit" placeholder="Delete" />
</form>